<h1>Eat Da Burger!!</h1>





<form id="form" action="/api/burgers" method="POST">
	<textarea id="textArea" type="text" name="burgerName" placeholder="What Burger Do You Desire?"></textarea>

	<button id="sub" type="submit">Submit</button>
</form>
<input class="" placeholder="21" maxlength="3" name="yz-calc-age-input">