<div id="attach" class="jumbotron">
	<div class="row text-center">
		<div class="col-md-12 text-center">
			<h1>Select your Gender</h1>
  		<h1><i id="male" data-click="1" style="width: 25px" class="fa fa-male icon text-center" aria-hidden="true"></i><i id="female" class="fa fa-female icon text-center" aria-hidden="true"></i></h1>
		</div>
	</div>
		<div id="home" class="row">
		<div class="col-sm-4">
			<h2>Enter Weight</h2>
			<div class="input-group input-group-sm mb-3">

				<input id="weight" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
				<h3>Lbs</h3>
			</div>

		</div>
		<div class="col-sm-4">
			<h2>Enter Height</h2>
			<div class="input-group input-group-sm mb-3">

				<select id="feet" class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
				<h3>Ft</h3>
				<select id="inches" class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>

				</select>
				<h3>In</h3>
			</div>

		</div>
		<div class="col-sm-4">
			<h2>Enter Age</h2>
			<div class="input-group input-group-sm mb-3">

				<input id="age" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">


			</div>

		</div>

	</div>

	<hr class="my-4">
	<div id="activeLevel" class="dropdown text-center">
		<h3 "text-center">How Active Are You?</h3>
		<div class="input-group mb-3">

			<select id="pal" class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
				<option selected>Choose...</option>
				<option value="1.1">Little or no exercise</option>
				<option value="1.3">3-5 hrs of exercise a week</option>
				<option value="1.6">More than 5-10 hrs of exercise a week</option>
				<option value="1.9">More than 10-hrs a week</option>
			</select>
		</div>
		<a id="learnMore" class="btn btn-primary btn-lg" href="#" role="button">Calculate</a>
	</div>
	
</div>