.jumbotron {
    opacity: 0.90;
    box-shadow: 2px 2px plum;
}

.icon:hover {
    cursor: pointer;
}

#male {
    color: limegreen;
    font-size: 100px;
    margin: 15px;
}
#female {
    font-size: 100px;
    margin: 15px;
}

img {
    height: 100px;
    width: 100px;
}
#logo {
    width: 250px;
}

#vegan {
    margin: 15px;
}

#gluten {
    margin: 15px;
}
#attach {
    margin: 5%;

}

#chart {
    height: 700px;
    width: 800px;
}

#photo {
    height: 600px;
    width: 600px;
}
#gender {
    font-family: 'Rancho', serif;
    color: plum;
    font-size: 60px;
}

.style {
    font-family: 'Rancho', serif;
    font-size: 60px;
    color:plum;
}

.card-header{
    background-color: #007bff;
}

.btn-link{
    color:#fff;
    font-size: 1.25rem;
}
#createCustom{
    float:right;
    background-color: plum;
    color: limegreen;
    text-shadow: 2px 2px black;
}

#learnMore{
    background-color: plum;
    color: limegreen;
    font-family: 'Rancho', serif;
    font-size: 40px;
    border: 4px solid limegreen;
}
.obvious{
    color: limegreen;
}

#restrictions {
    font-size: 50px;
}

#customPlan {
    background-color: limegreen;
}